[submodule "CPlayer"]
	path = CPlayer
	url = https://github.com/JokerQyou/CPlayer.git
[submodule "YPlayer"]
	path = YPlayer
	url = https://github.com/JokerQyou/YPlayer.git
[submodule "instantclick"]
	path = instantclick
	url = https://github.com/dieulot/instantclick.git
